       *{
            background-color: antiquewhite;
            margin: 40px;
        }
        h3{
            color: darkblue; text-align: center;
        }
        .pera{
            border: 2px solid black;padding: 20px;background-color:slategrey;border-radius: 10px;
            margin-left: 50px;
            margin-right: 50px;
        }
        ul{
            border: 2px solid black;
            background-color: cadetblue;
            text-align: center;
            border-radius: 5px;
            padding: 50px;

        }
        img{
            margin-left: 25%;
        }